body{
    background-color:lightcoral;
}
.bar{
    width:200px;
    height:150px;
}
.photo{
    width:250px;
    height:150px;
}
.center{
    text-align:center;
}
.centers{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.text{
    font-family:Helvetica;
}
h1{
    color:orchid;
    background-color:lightgreen;
}
h2{
    color:midnightblue;
}
p4{
    color:gray;
    font-size:35px;
}