body{
    background-color:#ff6f00;
}
.bar{
    width:200px;
    height:150px;
}
.photo{
    width:250px;
    height:150px;
}
.center{
    text-align:center;
}
.text{
    font-family:Helvetica;
}
.tiny{
    width:15%;
    height:5%;
}
h1{
    background-color:#ffef0d;
}
h2{
    height:32px;
    background-color:#d68242;
}
