body{
    background-color:rgb(181, 247, 241);
}
.bar{
    width:200px;
    height:150px;
}
.photo{
    width:250px;
    height:150px;
}
.center{
    text-align:center;
}
.text{
    font-family:Helvetica;
}
.tiny{
    width:15%;
    height:5%;
}
